.employee {
    width: 50%;
    text-align: center;
}

.imageWrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    img {
        position: absolute;
        max-width: initial;
        transform: translate(-50%, 0%);
        width: 200%;
    }
}

.title {
    margin-bottom: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 500;
}

.position {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    > span {
        &:after {
            content: ", ";
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}
