.employeeWrapper {
    padding: 0 10px;
    width: 450px;
}


.employee {
    display: block;
    background-color: #fff;
    text-align: center;
    position: relative;
    width: auto;
    //height: 500px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    text-decoration: none;
    margin: 0 0 20px 0;
}

.employee a:hover {
    .imageWrapper img {
        transform: translate3d(0, -30px, 0) scale(1.1);
    }
    .content {
        transform: translateY(-60px);
    }
    + .socialMedia {
        transform: translateY(-60px);
    }
}

.imageWrapper {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 60%;
    img {
        transition: all 0.3s ease-out;
    }
}

.content {
    position: relative;
    transition: all 0.3s ease-out;
    padding: 20px;
    background-color: #fff;
}

.title {
    font-size: 24px;
    color: #595f6b;
}

.position {
    font-size: 18px;
    color: #595f6b;
}

.bio {
    font-size: 16px;
    color: #595f6b;
}

.socialMedia {
    transition: all 0.3s ease-out;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateY(60px);
    height: 60px;
    width: 100%;
    background-color: #e5e5e5;
}
