@import '../../scss/colors';
@import '../../scss/mq';

.partners {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;

    @include bp(large) {
        flex-direction: row;
    }

    li {
        margin: 0 0 40px 0;
        width: 100%;
        @include bp(large) {
            padding: 0 40px;
            width: 50%;
        }
    }
}
