@import '../../scss/mq';

.articleSummary {

    padding: 30px;

    background-size: 0; //Hack

    @include bp(xlarge) {
        //background-image: url(http://images.contentful.com/2omch4pe7no2/1WZKgnQV32uesUqIEqUisq/a4ddac45e472ae962ff75847896163c2/sore-neck.jpg);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: -40% bottom;

        img { display: none; }
    }

    .content {
        overflow: hidden;
        max-width: 800px;
        margin: 0 auto;
    }

    // @include bp(large) {
    //     display: flex;
    //     align-items: center;
    //     position: relative;
    //     max-width: 100%;
    //
    //     @media screen and (max-height:980px) {
    //         align-items: flex-end;
    //     }

        // .content {
        //     width: 70%;
        //     order: 2;
        //     padding: 100px;
        // }

        // .asset {
        //     order: 1;
        //     width: 30%;
        // }

        // .imageWrapper {
        //     background-size: cover;
        //     background-position-x: 60%;
        //     height: 86%;
        //     padding-bottom: 100%;
        //
        //     .even & {
        //         left: 0;
        //     }
        //
        //     img {
        //         display: none;
        //     }
        // }

    // }
    // @include bp(xlarge) {
    //     .imageWrapper {
    //         background-position-x: 75%;
    //         height: 70%;
    //     }
    // }

}
