@import 'colors';
@import 'mq';

.colWrapper {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    @include bp(medium) {
        flex-direction: row;
    }
}

.colOne,
.colTwo {
    position: relative;
    width: 100%;
    background-color: $primary-color;

    @include bp(medium) {
        width: 50%;
    }
}

.imageWrapper {
    width: 100%;

    @include bp(large) {
        height: 50vh;
        overflow: hidden;
    }
}

.image {
    position: relative;
    top: 80px;
}

.header {
    padding: 20px;
    @include bp(medium) {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        padding: 0;
    }
}

.name {
    font-size: 42px;
    line-height: 1;
    margin: 0 0 5px 0;
    color: #fff;
    @include bp(large) {
        font-size: 72px;
        line-height: 95px;
        margin: 0 0 30px 0;
    }
    // @include bp(large) {
    //     font-size: 100px;
    //     line-height: 120px;
    // }
}

.positionWrapper {
    display: block;
    text-align: center;
}

.position {
    // position: absolute;
    // right: 0px;
    // top: 200px;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: $contrast-color;

    @include bp(large) {
        font-size: 36px;
    }

    > span {
        &:after {
            content: ", ";
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

.bio {
    padding: 20px;
    @include bp(large) {
        padding: 80px 0;
    }
}
