@import 'mq';

.footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 600px;
    background: rgb(35, 52, 69);
    color: #fff;
    @include bp(large) {
        width: calc(100% - 325px);
    }
}

.map {
    height: 300px;
    margin-bottom: 50px;
}

.logo_wrapper {
    max-width: 170px;
    margin: 0 auto 30px auto;
}

.address {
    text-align: center;
    line-height: 1.2rem;
    margin: 0 0 10px 0;
}

.contact {
    text-align: center;
    line-height: 1.2rem;
    p {
        margin: 0 0 5px 0;
    }
}
