@import 'typography';

.menu_wrapper {
    position: relative;
    width: 100%;
    height: calc(100% - 80px);
    background-color: $primary-color;

    @include bp(xlarge) {
        position: static;
        float: left;
        height: auto;
    }

    // height: 100%;
    // background-color: $neutral-color;
    //
    // @include bp(large) {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 325px;
    // }
    //
    // &.inverted {
    //     background-color: $primary-color;
    // }
    //
    // .order {
    //     position: absolute;
    //     width: calc(100% - 110px);
    //     left: 55px;
    //     right: 55px;
    //     bottom: 20px;
    //
    //     button {
    //         width: 100%;
    //         margin-bottom: 20px;
    //     }
    // }
}

.nav_primary {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include bp(xlarge) {
        position: absolute;
        top: 10px;
        right: 190px;
    }

    li {
        padding: 0 30px;



        @include bp(xlarge) {
            float: left;
            padding: 0 15px;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
        //border-bottom: 1px solid $border-color-light;
        // .inverted & {
        //     border-color: $border-color-dark;
        // }
        // &:first-child {
        //     border-top: 1px solid $border-color-light;
        //     .inverted & {
        //         border-top-color: $border-color-dark;
        //     }
        // }
    }

    a {

        font-family: $contrast-font-family;
        text-transform: uppercase;
        font-size: 14px;

        display: block;
        color: #fff;

        text-align: left;
        line-height: 60px;

        &.active {
            color: $contrast-color;
        }
        // border-style: solid;
        // border-width: 0px;
        // border-right-width: 3px;
        // border-right-color: transparent;

        // .inverted & {
        //     color: $text-color-inverted;
        // }
        //
        // &.active,
        // &:hover {
        //     color: $primary-color;
        //     .inverted & {
        //         color: $contrast-color;
        //     }
        // }
        // &.active {
        //     border-right-color: $primary-color;
        //     .inverted & {
        //         border-right-color: $contrast-color;
        //     }
        // }
    }
}
