.menu_wrapper {

    height: 100%;
    background-color: $neutral-color;

    @include bp(large) {
        position: fixed;
        top: 0;
        left: 0;
        width: 325px;
    }

    &.inverted {
        background-color: $primary-color;
    }

    .order {
        position: absolute;
        width: calc(100% - 110px);
        left: 55px;
        right: 55px;
        bottom: 20px;

        button {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

.nav_primary {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &:first-child {
        margin-bottom: 60px;
    }

    li {
        border-bottom: 1px solid $border-color-light;
        .inverted & {
            border-color: $border-color-dark;
        }
        &:first-child {
            border-top: 1px solid $border-color-light;
            .inverted & {
                border-top-color: $border-color-dark;
            }
        }
    }

    a {
        display: block;
        padding-left: 60px;
        padding-right: 60px;

        text-align: left;
        line-height: 45px;

        border-style: solid;
        border-width: 0px;
        border-right-width: 3px;
        border-right-color: transparent;

        .inverted & {
            color: $text-color-inverted;
        }

        &.active,
        &:hover {
            color: $primary-color;
            .inverted & {
                color: $contrast-color;
            }
        }
        &.active {
            border-right-color: $primary-color;
            .inverted & {
                border-right-color: $contrast-color;
            }
        }
    }
}
