@import 'colors';
@import 'mq';

// .header {
//     display: block;
//     position: relative;
//     height: 100%;
// }

// .bg {
//     position: fixed;
//     width: 100%;
//     left: 0;
//     height: 100%;
//     z-index: 1;
//
//     background-image: url(/public/images/image.jpg);
//     background: -webkit-linear-gradient(top, rgba(32, 39, 68, 0.9), rgba(36,37,66, 0.7)), url(/public/images/image.jpg);
//     background-size: cover;
//     background-position: 50%;
//
//     > div {
//         color: #fff;
//         position: absolute;
//         padding: 70px 100px;
//         top: 20vh;
//
//         h2 {
//             margin: 0;
//         }
//     }
// }

// article {
//     max-width: 80%;
//     p {
//         margin: 0 0 40px 0;
//     }
// }

.employees {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;

    li {
        margin: 0 20px;
    }
}

.scroll {
    display: none;
    @include bp(large) {
        display: block;
        cursor: pointer;
        position: absolute;
        bottom: 30px;
        left: 50%;
        width: 60px;
        height: 60px;
        transform: translateX(-50%);
        background-image: url(/public/gfx/arrow.svg);
        background-size: 60px;
        background-color: rgba(255,255,255, 0.6);
        border-radius: 50%;
    }
}
